* {
  color: blue;
}

#red {
  color: red;
  font-size: 4em;
}

.blue {
  background-color: black;
  color: bisque;
}

.first h1 {
  color: blueviolet;
}

/* 자식 계층만 해당됨 */
/* 손자 계층은 적용 X */
.first > h1 {
  font-size: 4em;
}

.container div:first-child {
  background-color: red;
}
.box2 {
  background-color: black;
}
.box3 {
  background-color: blue;
}
.box4 {
  background-color: yellow;
}
.box5 {
  background-color: green;
}
.box6 {
  background-color: orange;
}
.box7 {
  background-color: orchid;
}
.box8 {
  background-color: aqua;
}
.box9 {
  background-color: peru;
}
.box10 {
  background-color: slategray;
}
